<div id="<%= dom_id feedback_question %>">
  <p>
    <strong>Question:</strong>
    <%= feedback_question.question %>
  </p>

  <p>
    <strong>Product category:</strong>
    <%= feedback_question.product_category_id %>
  </p>

</div>
