<h1>Editing feedback question</h1>

<%= render "form", feedback_question: @feedback_question %>

<br>

<div>
  <%= link_to "Show this feedback question", @feedback_question %> |
  <%= link_to "Back to feedback questions", feedback_questions_path %>
</div>
