<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="text-align: center">It's Ordered!</h1>
    <p>Hi  <%= @order %>, thanks for your order,we hope you enjoyed shopping with us.</p>
    <hr>
    <h3>Need Help?..</h3>
    <p>Contact us on: 9913929192 <br>
      Email us: shoppingcart@gmail.com
    </p><br>
    <p>Have a great day!</p>
  </body>
</html>