.login-container {
  display: grid;
  gap: 1rem;
  margin-top: 25vh;
  justify-content: center;
  background-color: #9333ea;
  max-width: 300px;
  margin-inline: auto;
  padding: 2rem 0;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-input {
margin-bottom: 1rem;
}

.login-heading{
  text-transform: uppercase;
  text-align: center;
}